.gallery { 
   padding-block: 1rem;

   .grid {
      display: grid;
      gap: 1rem;
   }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
   .gallery {
      .grid {
         grid-template-columns: repeat(3, 1fr);
      }
   }
}

@media screen and (min-width: 1024px) {
   .gallery {
      .grid {
         grid-template-columns: repeat(4, 1fr);
      }
   }
}